[submodule "FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
    ignore = dirty
[submodule "L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
    ignore = dirty
[submodule "javacomplete"]
	path = bundle/javacomplete
	url = git://github.com/vim-scripts/javacomplete.git
    ignore = dirty
[submodule "vundle"]
	path = bundle/vundle
	url = git://github.com/gmarik/vundle.git
    ignore = dirty
