[submodule "vundle"]
	path = bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "FuzzyFinder"]
    path = bundle/FuzzyFinder
    url = git://github.com/vim-scripts/FuzzyFinder.git
    ignore = dirty
[submodule "L9"]
    path = bundle/L9
    url = git://github.com/vim-scripts/L9.git
    ignore = dirty
[submodule "javacomplete"]
    path = bundle/javacomplete
    url = git://github.com/vim-scripts/javacomplete.git
    ignore = dirty
[submodule "AutoComplPop"]
    path = bundle/AutoComplPop
    url = git://github.com/vim-scripts/AutoComplPop.git
    ignore = dirty
[submodule "Tagbar"]
    path = bundle/Tagbar
    url = git://github.com/vim-scripts/Tagbar.git
    ignore = dirty
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
    ignore = dirty
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = git://github.com/vim-scripts/minibufexpl.vim.git
    ignore = dirty
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = git://github.com/gmarik/vundle.git
